#a-container {
  margin: 5rem auto;
  width: 60vw;
  border: solid gray 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#a-userInput {
  display: flex;
  flex-direction: column;
}


#login-userInput :nth-child(2n){
  margin-bottom: 1rem;
}

#btn-signup {
  display: inherit;
  margin: 1rem auto;

}

#btn-validation {
  margin : 0.5rem;
}