#a-container {
  margin: 15rem auto;
  width: 60vw;
  border: solid gray 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#a-userInput {
  display: flex;
  flex-direction: column;
}


#login-userInput :nth-child(2n){
  margin-bottom: 1rem;
}